<!--<style>
    ion-popover-view.fit {
        height: auto;
    }

        ion-popover-view.fit ion-content {
            position: relative;
        }

    .platform-android ion-popover-view.fit {
        margin-top: 10px;
    }

    .platform-ios ion-popover-view.fit {
        padding-top: 10px;
        padding-bottom: 10px;
    }
</style>-->

<ion-popover-view class="fit" ng-controller="TaskPopoverCtrl">
   
        <ion-content scroll="false">
            <div class="list">
                <a class="item" href="http://learn.ionicframework.com/" target="_blank">
                    Learn Ionic
                </a>
                <a class="item" href="http://ionicframework.com/docs/" target="_blank">
                    Documentation
                </a>
                <a class="item" href="http://showcase.ionicframework.com/" target="_blank">
                    Showcase
                </a>
            </div>
        </ion-content>
    <ion-header-bar title="Action">
        
    </ion-header-bar>
    
    <ion-footer-bar align-title="left">
        <div class="buttons">
            <button class="button button-balanced">
                <i class="icon icon ion-checkmark"></i>
            </button>
            <button class="button button-assertive">
                <i class="icon icon ion-close"></i>
            </button>
            <button class="button button-positive">
                <i class="icon icon ion-arrow-return-left"></i>
            </button>
            <button class="button button-energized">
                <i class="icon icon ion-arrow-swap"></i>
            </button>
        </div>
    </ion-footer-bar>
</ion-popover-view>

<!--<ion-popover-view>
    <ion-content>
        <ion-list>
            <ion-item>
                <ion-label>Long Description</ion-label>
                <ion-textarea rows="6" placeholder="enter long description here..."></ion-textarea>
                <div class="buttons">
                    <button class="button button-balanced">
                        <i class="icon icon ion-checkmark"></i>
                    </button>
                    <button class="button button-assertive">
                        <i class="icon icon ion-close"></i>
                    </button>
                    <button class="button button-positive">
                        <i class="icon icon ion-arrow-return-left"></i>
                    </button>
                    <button class="button button-energized">
                        <i class="icon icon ion-arrow-swap"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-popover-view>-->