<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <!-- TABS -->
    <ion-tabs  class="tabs-positive tabs-icon-top">

        <ion-tab title="My Processes" icon-off="ion-archive" icon-on="ion-archive" href="#/app/processes">
            <ion-nav-view name="tab-processes"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Subscribe" icon-off="ion-social-rss" icon-on="ion-social-rss" href="#/app/subscribe">
            <ion-nav-view name="tab-subscribe"></ion-nav-view>
        </ion-tab>
      <ion-tab title="My Tasks" icon-off="ion-checkmark" icon-on="ion-checkmark" href="#/app/tasks">
        <ion-nav-view name="tab-tasks"></ion-nav-view>
      </ion-tab>

      

      

    </ion-tabs>

  </ion-side-menu-content>

   <!-- Side Menu (left) -->
  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">App Settings</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <!--<ion-item menu-close ng-click="login()">
          Login
        </ion-item>-->
        <ion-item menu-close href="#/app/tasks">
          Tasks
        </ion-item>
        <ion-item menu-close href="#/app/subscribe">
          Subscribe
        </ion-item>
        <ion-item menu-close href="#/app/processes">
          Processes
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
