<ion-view view-title="My Tasks">
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="Task in AllTasks" on-hold="openPopover($event, Task)"
                      class="item-thumbnail-left">

                <img ng-src="{{Task.img}}">
                <h2>{{Task.title}}</h2>
                <p>{{Task.description}}</p>
                <!--<div class="buttons">
                    <button class="button button-balanced">
                        <i class="icon icon ion-checkmark"></i>
                    </button>
                    <button class="button button-assertive">
                        <i class="icon icon ion-close"></i>
                    </button>
                    <button class="button button-positive">
                        <i class="icon icon ion-arrow-return-left"></i>
                    </button>
                    <button class="button button-energized">
                        <i class="icon icon ion-arrow-swap"></i>
                    </button>
                </div>-->

            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
